{% extends 'thornhillsystem/base.html' %}
{% load staticfiles %}
{% load path_leaf from thornhillsystem_template_tags%}
{% block title %}Email Sender
{% endblock %}
{% block body_block %}
    Here will be form for new message
    <table class="table table-hover table-inverse">
        <thead>
        <tr>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Scheduled for</th>
            <th>Attachment</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ message.from_email }}</td>
                <td>{{ message.to_email }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.scheduled }}</td>
                {% if message.attachment %}
                                <td><a href="/media/{{ message.attachment }}">{{ message.attachment|path_leaf }}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}