{% extends 'thornhillsystem/base.html' %}
{% load staticfiles %}
{% load path_leaf from thornhillsystem_template_tags %}
{% block title %}Email Sender
{% endblock %}
{% block body_block %}
    <h1>Add a message</h1>
    <div>
        <form id="message_form" method="post" enctype="multipart/form-data" action="{% url 'email_sender' %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}

                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                </br>
            {% endfor %}
            <input type="submit" name="submit" value="Sent"/>
            {#        Alternative depend on futher ux#}
            {#            {% for field in form.from_email %}#}
            {#                {{ field }}#}
            {#            {% endfor %}#}
            {#            {{ form.to_email.help_text }} {{ form.to_email }} </br>#}
            {#            {{ form.subject.help_text }} {{ form.subject }} </br>#}
            {#            {{ form.message.help_text }}{{ form.message }} </br>#}
            {#            {{ form.scheduled.help_text }} {{ form.scheduled }} </br>#}
            {#            {{ form.attachment.help_text }} {{ form.attachment }} </br>#}
            {#            {{ form.send_now.help_text }} {{ form.sent_now }} </br>#}
        </form>
    </div>
    <table class="table table-hover table-inverse">
        <thead>
        <tr>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Scheduled for</th>
            <th>Attachment</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ message.from_email }}</td>
                <td>{{ message.to_email }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.scheduled }}</td>
                {% if message.attachment %}
                    <td><a href="/media/{{ message.attachment }}">{{ message.attachment|path_leaf }}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}