{% extends 'thornhillsystem/base.html' %}
{% load staticfiles %}
{% block title %}Email Sender
{% endblock %}
{% block body_block %}
    Here will be form for new message
    <table class="table table-hover table-inverse">
        <thead>
        <tr>
            <th>#</th>
            <th>From Email</th>
            <th>To Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Scheduled for</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ message.from_email }}</td>
                <td>{{ message.to_email }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.scheduled }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}