{% extends 'thornhillsystem/base.html' %}
{% load staticfiles %}
{% block title %}Index
{% endblock %}
{% block head_block %}
    {% if user.is_superuser %}
        <style type="text/css">
            body {
                background: url({% static "img/admin-background.jpg" %}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
    {% endif %}
{% endblock %}
{% block body_block %}

    {% if user.is_superuser %}
        <div class="vertical-center-row">
            <div align="center">
                <h1 style="color:white">Hello admin</h1></div>
        </div>
    {% else %}
        <div class="col-sm-3 col-md-2"></div>
        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <a href="{% url 'login' %}" role="button" class="btn btn-primary">Login</a>
                <img src="{% static "img/123.gif" %}"></div>
        </div>
    {% endif %}
{% endblock %}