{% extends 'thornhillsystem/base.html' %}
{% load staticfiles %}
{% block title %}Temperature
{% endblock %}
{% block body_block %}
    <h3>Current temperature =
        <span id="temp_cur">{{ last_temperature }}</span>
        <button type="button" id="temp_button" class="btn btn-primary">Refresh</button>
    </h3>
    <canvas id="myChart" width="500" height="400"></canvas>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $.get('{% url 'line_chart_json' %}', function (data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx).Line(data);
        });
    </script>
{% endblock %}